.container-fluid {
    display: unset !important;
    a {
        margin-right: 10px;
        color: snow;
        text-decoration: none;
        line-height: 54px;
    }
    .navbar-text {
        float: right;
    }
}